<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="settingsModalLabel">Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/settings" method="POST" id="settings-form">
                    <p>Notifications</p>
                    <div class="form-group">
                        <label for="notification">Show Notifications</label>
                        <input type="checkbox" name="show_notification" class="btn btn-checkbox">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>