<div class="px-1">
  <div class="card mb-3 border-0">
    <div class="card-body bg-primary-subtle rounded py-1">
      <div class="time-filters d-flex align-items-center justify-content-around">
        <button class="btn rounded-pill btn-sm btn-outline-primary time-filter active" data-period="1 HOUR">Hot Now</button>
        <button class="btn rounded-pill btn-sm btn-outline-primary time-filter" data-period="24 HOUR">Today</button>
        <button class="btn rounded-pill btn-sm btn-outline-primary time-filter" data-period="7 DAY">This Week</button>
      </div>
    </div>
  </div>
  <div class="posts-container">
    <div class="text-center my-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>
<script>
  const userId = "<%= userId %>";
  window.currentUserId = "<%= userId %>";
</script>
<script src="/js/index.js"></script>
