<div class="border rounded my-5 flex justify-between">
    <div>
      <p class="m-0 px-2 pt-2 font-bold text-2xl"><%= @blog_post.title %></p>
      <p class="m-0 px-2 pb-2"><%= @blog_post.body%></p>
    </div>
</div>